
// Color Palet 

$primary-color: hsl(322, 100%, 66%)	 // pink
$secondary-color: hsl(265, 100%, 66%) // Violet

$LightGrayishBlue: hsl(214, 64%, 98%)
$MidGrayishBlue: hsl(208, 11%, 55%)
$VeryDarkCyan: hsl(192, 100%, 9%)

$heading-font: 'Poppins', sans-serif
// Weights:400, 600, 700
// Body and Call to Action Fonts
$body-font:'Open Sans', sans-serif
$body-font-size: 18px
$body-weight: 400
// weight 400

$break-small: 375px
$break-large: 1440px

*
	margin:0
	padding:0
	box-sizing: border-box

